@media screen and (max-width: 1600px) {

    h1{
        font-family:"Alegreya";
        font-style: normal;
        font-weight: 800;
        font-size: 83px;
        line-height: 113px; 
        color: #000000;
    }
    
    h2{
        font-family: 'Alegreya';
        font-style: normal;
        font-weight: 800;
        font-size: 62px;
        line-height: 84px;
        text-align: center;
        color: #000000;
    
    }
    
    h3{
        font-family: 'Alegreya';
        font-style: normal;
        font-weight: 400;
        font-size: 47px;
        line-height: 63px;
        color: #000000;
    }
    
    h4{
        font-family: 'Alegreya';
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 47px;
        text-align: center;
        color: #000000;
    }
    
    h5{
        font-family: 'Alegreya';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 34px;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #000000;
    }
    
    h6{
        font-family: 'Alegreya';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
    }
    
    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #36454F;
    }

    nav{
        width: 100%;
        height:152px;
    }

    #home-hero-text{
        width: 100%;
    }

    #home-hero-image img{
        width: 120%;
        margin-left: -100px;
    }
}